@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    height: 100%;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

header > a > img{
    padding-left: 120px;
    position: absolute;
}

main{
    display: flex;
    height: 100%;
    margin: 0px 8%;
    margin-top: 80px;
    justify-content: space-between;
    align-items: end;
    flex: 1;
}

#opacidade{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#termos-de-uso{
    width: 1056px;
    height: 640px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 10000000;
    transform: translate(-50%, -50%);
    background-color: white;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
}

#termos-de-uso > img.x{
    position: absolute;
    top: 4%;
    right: 2%;
    cursor: pointer;
}

#termos-de-uso > div{
    width: 100%;
    padding: 40px 0px 0px 70px;
    align-items: center;
}

#termos-de-uso > div > h1{
    font-size: 2.625em;
    font-weight: 800;
    margin-bottom: 0px;
}

#termos-de-uso > div > p{
    font-size: 1.125em;
    color: #CCCCCC;
    text-align: justify;
    padding-bottom: 10px;
    margin-top: 10px;
}

#termos-de-uso > div > p.condicoes{
    width: 808px;
    height: 374px;
    color: black;
    overflow: auto;
    padding: 0px 30px 0px 30px;
    margin: 0px;
}

#politica-privacidade{
    width: 1056px;
    height: 640px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 10000000;
    transform: translate(-50%, -50%);
    background-color: white;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
}

#politica-privacidade > img.x{
    position: absolute;
    top: 4%;
    right: 2%;
    cursor: pointer;
}

#politica-privacidade > div{
    width: 100%;
    padding: 40px 0px 0px 70px;
    align-items: center;
}

#politica-privacidade > div > h1{
    font-size: 2.625em;
    font-weight: 800;
    margin-bottom: 0px;
}

#politica-privacidade > div > p{
    font-size: 1.125em;
    color: #CCCCCC;
    text-align: justify;
    padding-bottom: 10px;
    margin-top: 10px;
}

#politica-privacidade > div > p.condicoes{
    width: 808px;
    height: 374px;
    color: black;
    overflow: auto;
    padding: 0px 30px 0px 30px;
    margin: 0px;
}

main > img{
    max-height: 100%;
    width: 550px;
}

main > div{
    height: 100%;
    max-width: 629px;
    width: 50%;
    margin-bottom: 50px;
}

main > div > h1{
    font-size: 2.6em;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

main > div > p{
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}

main > div > div > form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

main > div > div > form > label{
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 8px;
    margin-left: 10px;
    width: 45%;
}

main > div > div > form > input.info{
    width: 629px;
    height: 56px;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 10px;
}

main > div > div > form > input.info::placeholder{
    color: #CCCCCC;
    font-weight: lighter;
}

main > div > div > form > div{
    width: 43%;
    margin-top: 15px;
}

main > div > div > form > div.xx{
    width: 25%;
    margin-top: 15px;
}

main > div > div > form > div > label{
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 10px;
    width: 45%;
}

main > div > div > form > div > input.info{
    width: 90%;
    height: 56px;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 8px;
}

main > div > div > form > div.xx > input.info{
    width: 85%;
    height: 56px;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 8px;
}

main > div > div > form > div > input.info::placeholder{
    color: #CCCCCC;
    font-weight: lighter;
}

main > div > div > form > label.termos{
    font-size: 1.1em;
    font-weight: normal;
    margin-left: 10px;
    width: 100%;
}

main > div > div > form > label.termos > input{
    padding: 0px;
    margin: 0px;
}

main > div > div > form > label.termos > span{
    font-weight: 800;
    border-bottom: 2px solid black;
    cursor: pointer;
}

main > div > div > form > input.criarConta{
    width: 100%;
    height: 56px;
    background-color: #000000;
    border-radius: 30px;
    margin: 30px 0px;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}