@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    height: 100%;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

header > img{
    padding-left: 150px;
    height: 96px;
    width: 252.47px;
    position: absolute;
}

main{
    display: flex;
    height: 100%;
    margin: 0px 8%;
    margin-top: 80px;
    justify-content: space-between;
    align-items: end;
    flex: 1;
}

main > img{
    max-height: 100%;
    width: 550px;
}

main > div{
    height: 100%;
    max-width: 629px;
    width: 50%;
    margin-bottom: 50px;
}

main > div > h1{
    font-size: 2.6em;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

main > div > p{
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}

main > div > div > form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

main > div > div > form > label{
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 8px;
    margin-left: 10px;
    width: 45%;
}

main > div > div > form > input.info{
    width: 629px;
    height: 56px;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 10px;
}

main > div > div > form > input.info::placeholder{
    color: #CCCCCC;
    font-weight: lighter;
}

main > div > div > form > div{
    width: 43%;
    margin-top: 15px;
}

main > div > div > form > div.xx{
    width: 25%;
    margin-top: 15px;
}

main > div > div > form > div > label{
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 10px;
    width: 45%;
}

main > div > div > form > div > input.info{
    width: 90%;
    height: 56px;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 8px;
}

main > div > div > form > div.xx > input.info{
    width: 85%;
    height: 56px;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 8px;
}

main > div > div > form > div > input.info::placeholder{
    color: #CCCCCC;
    font-weight: lighter;
}

main > div > div > form > label.termos{
    font-size: 1.1em;
    font-weight: normal;
    margin-left: 10px;
    width: 100%;
}

main > div > div > form > label.termos > span{
    font-weight: 800;
    border-bottom: 2px solid black;
}

main > div > div > form > input.criarConta{
    width: 100%;
    height: 56px;
    background-color: #000000;
    border-radius: 30px;
    margin: 30px 0px;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

footer{
    display: flex;
    font-size: 1.1em;
    font-weight: 800;
    width: 100%;
    height: 96px;
    background-color: #96E40E;
    color: #1C4C79;
    align-items: center;
    bottom: 0;
}

footer > img{
    height: 80px;
    padding-left: 80px;
}

footer > div.info{
    display: flex;
    justify-content: right;
    flex: 1;
    margin-right: 70px;
}

footer > div.info > p{
    margin: auto 30px;
}

footer > div.info > p > img{
    margin: -5px 5px;
}

footer > div > span{
    display: block;
    width: 2px;
    height: 60px;
    background-color: black;
}